body{

	text-align: center;
	background-color: green;
	color: white;
	font-weight: bold;
	padding: 10px;
	font-size: 25px;
}

h1{
	color: goldenrod;
}

#jkbtn{
	padding: 10px;
	color: green;
	background-color: goldenrod;
	width: 150px;
	font-weight: bold;
	border-radius: 2px;
}
#NW-card{
	margin-top: 5px;
	padding: 10px;
	color: green;
	background-color: goldenrod;
	width: 150px;
	font-weight: bold;
	border-radius: 2px;
}